.movies.gallery {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: #333333;
  width: 100%;
  
  padding: 0px 30px;
}

.gallery-container {
  flex-grow: 1;
}

.gallery-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  color: white;
  
}

.gallery-list li {
  cursor: pointer;
  display: inline-block;
  margin-right: 40px;
  position: relative;
  padding: 30px 0;
}
/* .gallery-list li::after {
  content: '';
  display: block;
  width: 0;
  height: 2px;
  background-color: red;
  position: absolute;
  bottom: -3px;
  left: 0;
  
}

.gallery-list li.active::after {
  width: 100%;
} */
.gallery-list li:hover {
  color: #9f9f9f;
  border-bottom: 1px solid red;
  transition: width 0.3s ease;
}

.sort-container {
  display: flex;
  align-items: center;
  flex-shrink: 0;
  /* margin-left: 10px; */
}
.sort-container label {
  margin-right: 10px;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 400;
  line-height: 19.5px;
  letter-spacing: 0.8888887763023376px;
  text-align: left;
  color: rgb(192, 192, 192);
}

.sort-container select {
  padding: 5px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  font-family: Montserrat;
  font-size: 16px;
  font-weight: 500;
  line-height: 19.5px;
  letter-spacing: 0.8888887763023376px;
  text-align: left;
  background-color: #333333;
  color: aliceblue;
}
