.form-body {
  width: 500px; 
  height: 100vh; 
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  background-color: #232323;

  font-family: Montserate;
  padding: 20px;
}

.form-body h1 {
  text-align: left;
  padding-left: 12px;
  color: #fff;
  font-family: Montserrat;
  font-size: 30px;
  font-weight: 300;
  line-height: 48.76px;
  letter-spacing: 1px;
  margin-bottom: 15px;
}

.form {
  display: flex;
  flex-wrap: wrap;
}

.column-left,
.column-right {
  flex: 1;
  padding: 0 10px;
  max-width: 300px;
}

label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #f65261;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 19.5px;
  letter-spacing: 0.8888887763023376px;
  text-align: left;
}

input,
select,
textarea {
  width: 100%;
  padding: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 400;
  line-height: 17px;
  text-align: left;
  height: 35px;
  background-color: #323232;
  border: none;
}
input, select, textarea::placeholder {
  font-family: Montserrat;
  font-size: 15px;
  font-weight: 400;
  line-height: 24.38px;
  text-align: left;
  color: #6e6e6e;
}
textarea {
  width: 480px;
  min-height: 100px;
  max-height: 200px;
  resize: vertical;
  padding-left: 10px;
  background-color: #323232;
  border: none;
}
.column-full {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: right;
}

button {
  padding: 10px 40px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin: 0.5rem;
}

.reset {
  background-color: #232323;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 24.38px;
  text-align: center;
  color: #f65261;
  border: 1px solid #f65261;
}

.submit {
  background-color: #f65261;
  color: #fff;
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 500;
  line-height: 24.38px;
  text-align: center;
  margin: 10px;
}
